@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-900 font-sans text-sm;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Diperkecil dari 8px */
    height: 6px; /* Diperkecil dari 8px */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-slate-600 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:bg-slate-500;
  }

  /* Scrollbar khusus untuk editor kode agar tidak mengganggu */
  .code-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .code-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-50 dark:bg-slate-900;
  }
  .code-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 dark:bg-slate-700 rounded-md;
  }
}

/* Animasi untuk collapse/expand */
.transition-width {
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
